tgbf/src/main/resources/tgbf.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014, wayerr (radiofun@ya.ru).
  ~
  ~     This file is part of talkeeg.
  ~
  ~     talkeeg is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     talkeeg is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with talkeeg.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schema">
        <xs:complexType>
            <xs:all minOccurs="1">
                <xs:element name="primitive" type="PrimitiveType"/>
                <xs:element name="list" />
                <xs:element name="structure" />
            </xs:all>
            <xs:attribute name="byteOrder" >
                <xs:simpleType>
                    <xs:restriction>
                        <xs:enumeration value="BIG_ENDIAN"/>
                        <xs:enumeration value="LITTLE_ENDIAN"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="TypeOfStorage">
        <xs:restriction>
            <xs:enumeration value="NULL" />
            <xs:enumeration value="HALF" />
            <xs:enumeration value="1_BYTE" />
            <xs:enumeration value="2_BYTE" />
            <xs:enumeration value="4_BYTE" />
            <xs:enumeration value="8_BYTE" />
            <xs:enumeration value="16_BYTE" />
            <xs:enumeration value="BLOB" />
            <xs:enumeration value="STRUCT" />
            <xs:enumeration value="LIST" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LogicType">
        <xs:restriction>
            <xs:enumeration value="int" />
            <xs:enumeration value="float" />
            <xs:enumeration value="datetime" />
            <xs:enumeration value="string" />
            <xs:enumeration value="bytes" />
            <xs:enumeration value="boolean" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PrimitiveType">
        <xs:attribute type="TypeOfStorage" name="storeAs"/>
        <xs:attribute type="LogicType" name="type"/>
    </xs:complexType>
</xs:schema>